.catalog-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  border: 15px solid #ccc;
  width: calc(30.33% - 1rem);
  margin-bottom: 1rem;
}

.catalog-item__image {
  position: relative;
  text-align: center;
  padding-top: 20px;
}

.catalog-item__image img {
  width: 70%;
  height: auto;
}

.catalog-item__price {
  font-size: 1.2rem;

  font-weight: bold;
  transition: transform 0.3s ease;
}

.catalog-item__type {
  font-size: 1rem;

  color: #ccc;
  transition: transform 0.3s ease;
}

.catalog-item__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  height: calc(100% - 4rem);
}

.catalog-item:hover .catalog-item__title {
  transform: translateY(-160%);
}

.catalog-item:hover .catalog-item__type {
  transform: translateY(-160%);
}

.catalog-item:hover .catalog-item__price {
  transform: translateY(-160%);
}

.catalog-item:hover .catalog-item__description {
  transform: translateY(-160%);
}

.catalog-item:hover .catalog-item__button {
  opacity: 1;
}

.catalog-item__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 0;
  transition: transform 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.catalog-item__description {
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
  transition: transform 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.catalog-item__button {
  position: absolute;
  width: 60%;
  display: block;
  background-color: #7CB9E8;
  color: #fff;
  border: none;
  padding: 0.5rem;
  left: 20%;
  margin-right: -20%;
  opacity: 0;
}